body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 10px; }
  body > header {
    width: 90%;
    margin: 0 auto; }
    body > header > img {
      display: inline-block;
      vertical-align: middle; }
    body > header > h1 {
      color: #006aff;
      display: inline;
      vertical-align: middle;
      margin-left: 250px; }
  body .p--page-list {
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
    display: table; }
    body .p--page-list > .left, body .p--page-list > .center, body .p--page-list > .right {
      background: #006aff;
      display: table-cell; }
      body .p--page-list > .left > p, body .p--page-list > .center > p, body .p--page-list > .right > p {
        text-align: center; }
        body .p--page-list > .left > p > b, body .p--page-list > .center > p > b, body .p--page-list > .right > p > b {
          color: #fff; }
    body .p--page-list > .center, body .p--page-list > .right {
      background: #88a; }
      body .p--page-list > .center > p, body .p--page-list > .right > p {
        color: #444; }
        body .p--page-list > .center > p > b, body .p--page-list > .right > p > b {
          color: #666; }
  body > .clear {
    clear: both; }
  body .p--table {
    width: 800px;
    margin: 100px auto; }
    body .p--table > div {
      width: 100px;
      margin: 0 auto; }
    body .p--table > table {
      border-collapse: collapse;
      border-spacing: 0; }
      body .p--table > table > tbody {
        display: none; }
        body .p--table > table > tbody > tr > th {
          margin-top: 20px;
          border: solid 2px #666;
          background: #ddd;
          color: #666;
          width: 160px;
          padding: 20px;
          font-size: 15px; }
          body .p--table > table > tbody > tr > th > span {
            color: #f00; }
          body .p--table > table > tbody > tr > th > label {
            cursor: pointer; }
        body .p--table > table > tbody > tr > td {
          border: solid 2px #666;
          font-size: 15px;
          padding: 20px;
          width: 500px; }
      body .p--table > table > thead {
        width: 400px; }
        body .p--table > table > thead > tr > th {
          color: #006aff;
          font-size: 20px;
          text-align: left; }
